@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*colors*/
    --primary-color: #f7b538;
    --bestre: #352208;
    --gun-metal: #00272b;
    --hunter: #fffcdc;
    --dark-sienna: #3d0c02;
    --chartreuse: #e0ff4f;
    --dark-chestnut: #b6451d; 
    --creamy: #e1bb80;
    --gold-crayola: hsl(38, 61%, 73%);
    --black: hsla(40, 12%, 5%, 1);
    --white: hsla(40, 12%, 95%, 1);
    --grey: hsla(40, 12%, 50%, 1);
}

body{
    font-family: 'Nunito', sans-serif;
    background-image: url(Assets/imgs/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    color: var(--bestre);
}
h2{
    text-align: center;
}

p{
    font-size: 1.2rem;
    color: var(--white);
}

a{
    text-align: center;
}

.navbar{
    background: transparent;
    backdrop-filter: blur(5px);
    border: 1px solid var(--creamy);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.navbar-light .navbar-brand{
    color: var(--chartreuse);
    font-size: 1.5rem;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-item .nav-link{
    padding: 0 20px;
    color: var(--chartreuse);
    transition: 0.4s ease;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-item .nav-link.active,
.navbar i:hover{
    color: var(--hunter);
}

.nav-link{
    position: relative;
}

.nav-link span{
    position: absolute;
}

.navbar i{
    font-size: 1.2rem;
    padding: 0 0.7px;
    transition: 0.4s ease;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px;
}

.marquee-content img {
    width: 150px;
    height: auto;
    object-fit: contain;
    margin: 0 15px;
}

#product-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s ease;
}

.shoe-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

#product-card:hover> :not(:hover) {
    opacity: 0.5;
    filter: blur(2px);
    transition: 0.4s ease;
}

.shoe-details {
    padding: 10px;
}

.price {
    color: #352208;
    font-weight: bold;
}

.category {
    color: #5b2333;
    font-size: 1em;
}

.description {
    color: #352208;
}

.btn-2 {
    background-color: #b24c63;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-2:hover {
    background-color: #233d4d;
}

#search-input {
    width: 20rem;
    padding: 10px;
    border: 1px solid #e0ff4f;
    border-radius: 5px;
}

#notification{
    position: fixed;
    margin-top: 10px; 
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%); 
    width: 50%; 
    background: transparent;
    backdrop-filter: blur(5px);
    border: 1px solid var(--dark-sienna);
    border-radius: 5px;
    color: var(--hunter); 
    text-align: center; 
    padding: 10px; 
    z-index: 1000;
}

#cart-container {
    position: fixed;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    color: #f7f4f3;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background: transparent;
    backdrop-filter: blur(5px);
    z-index: 1000;
    overflow-y: auto;
    max-height: 80%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
    display: none;
}

.closeBtn{
    color: #a31621;
    float: right;
    font-size: 2rem;
    font-weight: bold;
}
.closeBtn:hover,
.closeBtn:focus{
    cursor: pointer;
    color: #f87060;
}

.cart-item {
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.cart-item-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.cart-item-details input {
    width: 40px;
    margin: 0 10px;
}

#checkout-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    backdrop-filter: blur(5px);
    color: #f7f4f3;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.checkout-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.modal-buttons {
    margin-top: 20px;
    text-align: right;
}